---
title: Frequently Asked Questions for Wasuramoti
---
%div
  %a(href='/') [TOP]
  %a(href='/wasuramoti/') [Wasuramoti]
%h3.section In poem NO. 44, shouldn't the text be "しなくば" instead of "しなくは" ?
%div
  Both is correct since it is just a orthographical variant. Although the correct way of reading it in Kyogi Karuta is "しなくば", most of the textbooks used in Japanese school is written as "しなくは".
  Wasuramoti's Roma-ji follows the reciter's voice, so we chose "Shinakuba" for Roma-ji. On the other hand, Wasuramoti's Japanese poem text follows the textbook used in Japanese school, so we chose "しなくは".
