---
title: Android版わすらもちのプライバシーポリシー
---
%div
  %a(href='/en/wasuramoti/privacy-policy.html') [English Version]
  %a(href='/') [TOP]
  %a(href='/wasuramoti/') [わすらもち]

%h3.section ユーザーに許諾を得ない個人情報の送信の禁止
当アプリは「サポート窓口」の送信ボタンを押した時を除き一切の情報をネットワークを通して外部に送信することはありません。
%h3.section サポート目的にのみ送られる個人情報
ユーザが「サポート窓口」の送信ボタンを押した時には端末の機種名やOSのバージョン、現在のわすらもちの設定などデバッグに有用な情報を当アプリ開発者の運営するサーバに送りますが、
その際もメールアドレスや電話番号など個人の特定に繋がる重要な情報やデバッグに不要な情報は送りません。
%h3.section 第三者への情報提供の禁止
サポート用に送られた全ての情報は当アプリ開発者以外の第三者には渡しません。
これにはメールで直接アプリ開発者のアドレスに向けて送ってくれたメールの内容も含みます。
