#list100{
  tr:nth-child(odd){
    background-color: #EEEEFF;
  }
  tr:nth-child(even){
    background-color: white;
  }
  .fudanum{
    text-align: right;
    padding-right: 1em;
    color: maroon;
  }
  .fudanum-small{
    color: maroon;
    font-size: 0.9em;
  }
  .simonoku{
    padding-left: 1.5em;
    margin: .3em;
    color: black;
  }
  .kaminoku{
    color: black;
    margin: .3em;
  }

  .author > a > div{
    color: #330000;
    text-align: center;
    margin: .3em;
  }
  td{
    white-space: nowrap;
    a{
      text-decoration: none;
    }
  }
}
