/* line 33, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/* line 40, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* line 48, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 55, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
[hidden] {
  display: none; }

/* line 77, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
html {
  background: #fff;
  color: #000;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 92, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/* line 98, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
body {
  margin: 0; }

/* line 113, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
a:focus {
  outline: thin dotted; }

/* line 119, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
a:active,
a:hover {
  outline: 0; }

/* line 132, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 137, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

/* line 142, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0; }

/* line 147, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0; }

/* line 152, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

/* line 157, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
h6 {
  font-size: 0.67em;
  margin: 2.33em 0; }

/* line 163, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 169, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
b,
strong {
  font-weight: bold; }

/* line 173, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
blockquote {
  margin: 1em 40px; }

/* line 178, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
dfn {
  font-style: italic; }

/* line 184, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/* line 191, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 198, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
p,
pre {
  margin: 1em 0; }

/* line 206, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/* line 213, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/* line 220, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
q {
  quotes: none; }

/* line 226, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none; }

/* line 232, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
small {
  font-size: 80%; }

/* line 238, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 245, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
sup {
  top: -0.5em; }

/* line 249, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
sub {
  bottom: -0.25em; }

/* line 263, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

/* line 267, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
dd {
  margin: 0 0 0 40px; }

/* line 274, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/* line 280, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* line 293, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

/* line 299, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 310, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
figure {
  margin: 0; }

/* line 321, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
form {
  margin: 0; }

/* line 326, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 335, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

/* line 349, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/* line 359, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
button,
input {
  line-height: normal; }

/* line 368, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
button,
select {
  text-transform: none; }

/* line 382, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

/* line 390, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/* line 399, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

/* line 409, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 419, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 425, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 432, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 444, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 22, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_main.scss */
html,
button,
input,
select,
textarea {
  color: #222222; }

/* line 26, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_main.scss */
body {
  font-size: 1em;
  line-height: 1.4; }

/* line 34, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 39, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 45, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/* line 55, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_main.scss */
img {
  vertical-align: middle; }

/* line 60, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* line 67, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_main.scss */
textarea {
  resize: vertical; }

/* line 77, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_main.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* line 28, /home/maho/pjmtdw.github.io/source/stylesheets/grid/_magic.sass */
.container {
  *zoom: 1;
  max-width: 460px;
  _width: 460px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto; }
  /* line 38, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .container:after {
    content: "";
    display: table;
    clear: both; }

/* line 34, /home/maho/pjmtdw.github.io/source/stylesheets/grid/_magic.sass */
header, #main-content, footer {
  overflow: hidden;
  *zoom: 1; }

@media (min-width: 620px) {
  /* line 43, /home/maho/pjmtdw.github.io/source/stylesheets/grid/_magic.sass */
  .container {
    max-width: 620px; } }
@media (min-width: 940px) {
  /* line 43, /home/maho/pjmtdw.github.io/source/stylesheets/grid/_magic.sass */
  .container {
    max-width: 940px; } }
@media (min-width: 1260px) {
  /* line 43, /home/maho/pjmtdw.github.io/source/stylesheets/grid/_magic.sass */
  .container {
    max-width: 1260px; } }
@media (min-width: 620px) {
  /* line 48, /home/maho/pjmtdw.github.io/source/stylesheets/grid/_magic.sass */
  .menu {
    width: 100%;
    float: left;
    margin-right: 3.22581%; }
    /* line 50, /home/maho/pjmtdw.github.io/source/stylesheets/grid/_magic.sass */
    .menu .wasuramoti {
      width: 48.3871%;
      float: left;
      margin-right: 3.22581%; }
    /* line 52, /home/maho/pjmtdw.github.io/source/stylesheets/grid/_magic.sass */
    .menu .kazesomiso {
      width: 48.3871%;
      float: right;
      margin-right: 0; }
    /* line 54, /home/maho/pjmtdw.github.io/source/stylesheets/grid/_magic.sass */
    .menu .cribbage {
      width: 48.3871%;
      float: left;
      margin-right: 3.22581%; }

  /* line 56, /home/maho/pjmtdw.github.io/source/stylesheets/grid/_magic.sass */
  .misc {
    width: 100%;
    float: right;
    margin-right: 0; } }
@media (min-width: 940px) {
  /* line 60, /home/maho/pjmtdw.github.io/source/stylesheets/grid/_magic.sass */
  .menu {
    width: 74.46809%;
    float: left;
    margin-right: 2.12766%; }
    /* line 62, /home/maho/pjmtdw.github.io/source/stylesheets/grid/_magic.sass */
    .menu .wasuramoti {
      width: 31.42857%;
      float: left;
      margin-right: 2.85714%; }
    /* line 64, /home/maho/pjmtdw.github.io/source/stylesheets/grid/_magic.sass */
    .menu .kazesomiso {
      width: 31.42857%;
      float: left;
      margin-right: 2.85714%; }
    /* line 66, /home/maho/pjmtdw.github.io/source/stylesheets/grid/_magic.sass */
    .menu .cribbage {
      width: 31.42857%;
      float: right;
      margin-right: 0; }

  /* line 68, /home/maho/pjmtdw.github.io/source/stylesheets/grid/_magic.sass */
  .misc {
    width: 23.40426%;
    float: right;
    margin-right: 0; } }
@media (min-width: 1260px) {
  /* line 72, /home/maho/pjmtdw.github.io/source/stylesheets/grid/_magic.sass */
  .menu {
    width: 74.60317%;
    float: left;
    margin-right: 1.5873%; }
    /* line 74, /home/maho/pjmtdw.github.io/source/stylesheets/grid/_magic.sass */
    .menu .wasuramoti {
      width: 31.91489%;
      float: left;
      margin-right: 2.12766%; }
    /* line 76, /home/maho/pjmtdw.github.io/source/stylesheets/grid/_magic.sass */
    .menu .kazesomiso {
      width: 31.91489%;
      float: left;
      margin-right: 2.12766%; }
    /* line 78, /home/maho/pjmtdw.github.io/source/stylesheets/grid/_magic.sass */
    .menu .cribbage {
      width: 31.91489%;
      float: right;
      margin-right: 0; }

  /* line 80, /home/maho/pjmtdw.github.io/source/stylesheets/grid/_magic.sass */
  .misc {
    width: 23.80952%;
    float: right;
    margin-right: 0; } }
/* line 20, /home/maho/pjmtdw.github.io/source/stylesheets/screen.css.sass */
h1 {
  color: maroon;
  text-transform: uppercase;
  line-height: 1em; }

/* line 24, /home/maho/pjmtdw.github.io/source/stylesheets/screen.css.sass */
h2 {
  line-height: 1.3em; }

/* line 26, /home/maho/pjmtdw.github.io/source/stylesheets/screen.css.sass */
kbd {
  background-color: whitesmoke;
  border: 1px solid #dedede;
  padding: 0px 3px 2px; }

/* line 30, /home/maho/pjmtdw.github.io/source/stylesheets/screen.css.sass */
footer {
  margin-top: 3em;
  text-align: right; }

/* line 34, /home/maho/pjmtdw.github.io/source/stylesheets/screen.css.sass */
h3.section {
  border-left: 0.8em solid teal;
  border-bottom: 1px solid teal;
  padding-left: 0.3em; }

/* line 39, /home/maho/pjmtdw.github.io/source/stylesheets/screen.css.sass */
hr.short-bar {
  width: 20%;
  margin-left: 40%; }

/* line 42, /home/maho/pjmtdw.github.io/source/stylesheets/screen.css.sass */
dt {
  font-weight: bold; }

/* line 44, /home/maho/pjmtdw.github.io/source/stylesheets/screen.css.sass */
em {
  font-weight: bold;
  font-style: normal; }

/* line 47, /home/maho/pjmtdw.github.io/source/stylesheets/screen.css.sass */
code {
  display: block;
  margin-left: 1em;
  white-space: pre-line; }

/* line 52, /home/maho/pjmtdw.github.io/source/stylesheets/screen.css.sass */
div.subsection {
  margin-left: 1em; }

/* line 55, /home/maho/pjmtdw.github.io/source/stylesheets/screen.css.sass */
.figure {
  display: inline-block;
  text-align: center; }
  /* line 58, /home/maho/pjmtdw.github.io/source/stylesheets/screen.css.sass */
  .figure .label {
    font-weight: bold; }

/* line 61, /home/maho/pjmtdw.github.io/source/stylesheets/screen.css.sass */
a[href] {
  color: #003366; }

/* line 64, /home/maho/pjmtdw.github.io/source/stylesheets/screen.css.sass */
a[href]:hover {
  color: blue; }

/* line 69, /home/maho/pjmtdw.github.io/source/stylesheets/screen.css.sass */
.container img {
  max-width: 100%;
  height: auto; }

/* line 73, /home/maho/pjmtdw.github.io/source/stylesheets/screen.css.sass */
.panel {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  padding: 6px;
  border: 3px solid gray;
  background-color: #ffffcc; }

/* line 79, /home/maho/pjmtdw.github.io/source/stylesheets/screen.css.sass */
.os-label {
  display: inline-block;
  border: 1px dotted green;
  background-color: white;
  color: #003333;
  padding: 3px; }

/* line 86, /home/maho/pjmtdw.github.io/source/stylesheets/screen.css.sass */
img.fuda-example:hover {
  -webkit-filter: contrast(120%) brightness(80%);
  -moz-filter: contrast(120%) brightness(80%);
  filter: contrast(120%) brightness(80%); }

@media print {
  /* line 11, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_media.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  /* line 19, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_media.scss */
  a,
  a:visited {
    text-decoration: underline; }

  /* line 23, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")"; }

  /* line 27, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /* line 37, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_media.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  /* line 42, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_media.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /* line 47, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_media.scss */
  thead {
    display: table-header-group; }

  /* line 52, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_media.scss */
  tr,
  img {
    page-break-inside: avoid; }

  /* line 56, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_media.scss */
  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  /* line 66, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_media.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  /* line 72, /home/maho/pjmtdw.github.io/.vendor/ruby/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_media.scss */
  h2,
  h3 {
    page-break-after: avoid; } }
