h1 {
  color: maroon;
  line-height: 1em;
}

h2 {
  line-height: 1.3em;
}

footer {
  margin-top: 3em;
  text-align: right;
}

h3.section {
  border-left: 0.8em solid teal;
  border-bottom: 1px solid teal;
  padding-left: 0.3em;
}

hr.short-bar {
  width: 20%;
  margin-left: 40%;
}

em {
  font-weight: bold;
  font-style: normal;
}

code {
  display: block;
  margin-left: 1em;
  white-space: pre-line;
}

div.subsection {
  margin-left: 1em;
}

.figure {
  display: inline-block;
  text-align: center;
}

.figure .label {
  font-weight: bold;
}

a[href] {
  color: #036;
}

a[href]:hover {
  color: blue;
}

.container img {
  max-width: 100%;
  height: auto;
}

.panel {
  padding: 6px;
  border: 3px solid gray;
  background-color: #FFC;
}

.os-label {
  display: inline-block;
  border: 1px dotted green;
  background-color: white;
  color: #033;
  padding: 3px;
}
