---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, GITHUB_HOME } from "../consts";
import GitHubRepo from "./GitHubRepo.astro";
---

<header
  class="p-4 bg-white dark:bg-black shadow-[0_2px_8px_rgba(0,0,0,0.05)] dark:shadow-[0_2px_8px_rgba(255,255,255,0.05)]"
>
  <nav class="flex items-center justify-between">
    <h2>
      <a href="/" class="font-bold">{SITE_TITLE}</a>
    </h2>
    <div>
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
    </div>
    <div class="hidden md:block">
      <GitHubRepo url={GITHUB_HOME} />
    </div>
  </nav>
</header>
