---
title: 宇野算譜工房 - リンク集
description: リンク集
---
%div
  %a(href='/') [TOP]
%h3.section 競技かるた
%dl
  %dt
    %a(href='http://www.karuta.org/') かるた一病息災
  %dd
    競技かるたが10倍楽しくなるサイトです．
  %dt
    %a(href='http://homepage3.nifty.com/naniwazu/') なにはづの「競技かるた」読唱指南
  %dd
    読み上げソフト「難波津いなばくん」を配布しています．

%h3.section ソフトウェア
%dl
  %dt
    %a(href='https://github.com/pjmtdw?tab=repositories') GitHubのpjmtdwのリポジトリ一覧
  %dd
    このサイトで配布しているソフトウェアのソースを入手できます．
