---
title: わすらもちに関して良くある質問
---
%div
  %a(href='/') [TOP]
  %a(href='/wasuramoti/') [わすらもち]
%h3.section 音が出ない
%div 
  下記の確認をして下さい．
  %ul
    %li [詳細設定]&rArr;[音量] で音量が低い状態になっていないか．
    %li [詳細設定]&rArr;[その他の設定]&rArr;[イコライザー] で音量が低い状態になっていないか．
    %li その他端末自体の音量が低かったりスピーカーが壊れてたり，イヤホンが付いていないかなど

