---
title: わすらもちの音声データをCDに焼く
---
%div
  %a(href='/') [TOP]
  %a(href='/wasuramoti/') [わすらもち]
%h3.section 概要
%div 
  わすらもちのWindows版にはWAVファイルに出力する機能が付いています．これを使えば読み上げCDを作ることができます．
%div
  ただし注意点としてこの機能はあくまで競技かるた用であって一般の人が想像するような「一つの読み上げCDを作ってそれをランダム再生したい」というような要望には応えられません．
  あくまで作られるCDは「1トラックに下の句→上の句の順に収められている99トラックのCD」です．
%div
  こういうCDを何枚か作っておいて練習ではこれを最初から最後まで順番に流すみたいな使い方を想定しています．

%h3.section 音声ファイル作り方
%ol
  %li わすらもちを起動して「メニュ(F)」→「WAVファイルに出力(W)」 を選択
  %li 出力フォルダを適当に指定して「開始」ボタンをクリック

%div (1)(2) を実行するとTMSK_000みたいなフォルダが指定した出力フォルダに作られて，その中に99個のwavファイルが出来上がっているのでこれを音楽CDとして書き込みます．

%h3.section 音声ファイルをCDに焼く
%div wavファイルをCDに焼くには音声に対応したCDライティンングソフトを使えば良いのですが，一般的に一番使われているのものがWindows Media Playerらしいです．
%div Windows Media Playerでwavファイルを音楽CDに書き込むには「書き込みリスト」に追加する必要があります．
%div 書き込みリストを表示してその中に99個のwavファイルをドラッグ＆ドロップすれば追加できるはずですが，
%div 使っているメディアプレイヤーのバージョンによって方法は違うし，言葉で説明しても分かり辛いと思うので下記のリンクを参考にして下さい．
%a(href="http://www.fmworld.net/cs/azbyclub/qanavi/jsp/qacontents.jsp?PID=4908-2407") [リンク1]
%a(href="http://faq.epsondirect.co.jp/faq/edc/app/servlet/relatedqa?QID=029103") [リンク2]
