---
title: わすらもち
description: 「わすらもち」は競技かるたの練習にも使える百人一首読み上げソフトです
---
%div
  %a(href='/') [TOP]
  %a(href='/kazesomiso/') [かぜそみそ(かるた画像作成ソフト)]
%h3.section 概要
%div 
  「わすらもち」は百人一首読み上げソフトです．競技かるたの練習に使えることを目指していますが，正月のかるた遊びにも多分使えると思います．
%h3.section 特徴
%dl
  %dt ボタン一つの簡単操作
  %dd 上の句の末尾で停止するので，一枚の札につき一回しかクリックの必要がありません．
  %dt 札セット
  %dd 百首全部ではなく「一字札」や「五色かるたの青」など一部の札のみを読み上げることができます．
  %dt 自作の音声ファイル対応
  %dd 百首が録音された音声ファイルを用意していだたければそれを読ませることもできます．
  %dt その他
  %dd 自動読み上げ機能や暗記用タイマー(Android版のみ)など競技かるたの練習に便利な機能が付いています．

%h3.section Windows版
%p
  %div 配布形式: フリーウェア
  %div 動作確認済みOS: Windows 95/98/2000/XP/Vista/7/8
  %div 最新バージョン: 1.05
  %div
    ダウンロード:
    %a(href='http://www.vector.co.jp/download/file/win95/edu/fh578232.html') [Vectorからダウンロード]
%p
  %div
    %em ※補足1:
    レジストリをいじっていないのでインストール／アンインストール作業は不要です．
  %div
    %em ※補足2:
    一応競技かるた有段者の音声データを同梱していますが，正直
    %a(href='http://homepage3.nifty.com/naniwazu/') [難波津いなばくん]
    の方が質が高いです．

%h3.section Android版
%p
  %div 配布形式: 無料アプリ, オープンソース
  %div 対応OS: Android 2.1以降
  %div 最新バージョン: 0.8.1
  %div インストール方法: 下記のいずれかの方法でインストールできます．
  %ul
    %li
      最も一般的な方法 &rArr;
      %a(href='https://play.google.com/store/apps/details?id=karuta.hpnpwd.wasuramoti&hl=ja') [Google Playでインストール]
    %li
      Kindle Fireを使っている人 &rArr;
      %a(href='http://www.amazon.co.jp/dp/B00I11N2ZU') [Amazonアプリストアでインストール]
    %li
      上記にアクセスできない人 &rArr;
      %a(href='http://sourceforge.net/projects/wasuramoti-andr/') [自分でダウンロード]
      (インストール方法は「apk インストール」あたりでググって下さい)
%p
  %div
    %strong ※補足:
    Android版わすらもちには
    %a(href='http://homepage3.nifty.com/naniwazu/') [難波津いなばくん]
    の読み音声を作者の許諾を得て同梱しています．

%h3.section 自作の音声ファイル
%div
  Windows版ならわすらもちと同じフォルダに，Android版ならSDカードや内部ストレージに100首+序歌が録音された音声ファイルを置けば，それを読ませることができます．
%div
  詳しくは
  %a(href='howto-record.html') [わすらもち用読み音声データの作成]
  をご覧下さい．
%h3.section 競技かるた用百人一首読み上げソフトを作る際のTIPS
%p
  %div
    以下は競技かるた用の読み上げソフトを作りたい人は参考にしてみて下さい．わすらもちのAndroid版のソースはBSDライセンスでGitHubにて公開しています．
  %div
    %a(href='https://github.com/pjmtdw/wasuramoti-android') [わすらもちAndroid版のソース]
%p
  %div
    音声ファイルを再生するAPIやライブラリは大抵のOSに用意されています．それらを使って「ただ音声を一定の間隔で流せばいいだけだから簡単」のように思えますが，問題はそう単純ではありません．
  %div
    実際に音声を「下の句&rArr;1秒停止&rArr;上の句」のように再生してみると，再生の区切り目に一瞬だけ微かな雑音が混じります．普通の音楽再生などでは気にも留めない程度の雑音ですが競技かるたにとっては致命的です．
  %div
    この現象はWindowsでもAndroidでも起き，機種によっては出ないこともありますが，個体差が大きいWindowsやAndroidにおいて雑音が出ないことを期待するのは非常に危険です．
%p
  %div
    それを解決するためにわすらもちでは「上の句と下の句の音声ファイルをそれぞれ事前にデコードして連結した上で再生」ということを行っています．
  %div
    これは再生時のデコードの負荷をなくし，音飛びを防止する効果もあります（最近のパソコンやスマホは高性能なので関係ないかもしれませんが）
  %div
    その際に先頭や末尾に微量のフェードを行い，無音だと検知した部分(設定画面の「閾値」以下)を取り除いた上で間が1秒になるようにしています．
  %div
    この作業は最新の端末では一瞬で終わりますが，古い端末だと数秒程度かかることもあるので，前の札を読み終えた直後に行うことで練習での実質待ち時間をほぼゼロにしています．
%p
  %div
    AndroidにはOgg Vorbisを再生するAPIはあるのですがデコードだけを行うAPIはないのでAndroid NDKでコンパイルしたlibogg/libvorbisをJNI経由で呼んでいます．
  %div
    またAndroidは端末によっては使用できるメモリにかなり制限があるのでメモリ使用量を抑える工夫が必要です．その辺はわすらもちのソースを読むと分かります．
