---
title: わすらもち
description: 「わすらもち」は競技かるたの練習に使える百人一首読み上げソフトです
---
%div
  %a(href='/') [TOP]
%h3.section 概要
%div 
  「わすらもち」は競技かるたの練習にも使える百人一首読み上げソフトです．小倉百人一首をランダムに百首読み上げます．
%h3.section 特徴
%dl
  %dt ボタン一つの簡単操作
  %dd 上の句の末尾で停止するので一枚の札につき一回しかクリックの必要がありません．
  %dt 札セット
  %dd 「一字札」や「五色かるたの青」など自分で設定した札セットを指定できます．
  %dt 外部音声ファイル対応
  %dd 百首が録音されたoggファイルを用意していだたければそれを読ませることもできます．
  %dt その他
  %dd 自動読み上げモードや暗記用タイマー(Android版のみ)など練習に便利なオプションが付いています．

%h3.section Windows版
%div 配布形式: フリーウェア
%div 動作確認済みOS: Windows 95/98/2000/XP/Vista/7
%div 最新バージョン: 1.05
%div
  ダウンロード:
  %a(href='http://www.vector.co.jp/download/file/win95/edu/fh578232.html') [Vectorからダウンロード]
%hr.short-bar
%div
  %strong ※注意1:
  レジストリをいじっていないのでインストール／アンインストール作業は不要です．
%div
  %strong ※注意2:
  一応競技かるた有段者の音声データを同梱していますが，正直
  %a(href='http://homepage3.nifty.com/naniwazu/') [難波津いなばくん]
  の方が質が高いです．

%h3.section Android版
%div 配布形式: 無料アプリ
%div 対応OS: Android 2.1以降
%div 最新バージョン: 0.7.5
%div インストール方法: 下記のいずれかの方法でインストールできます．
%ul
  %li
    Android端末でこちらにアクセス &rArr;
    %a(href='https://play.google.com/store/apps/details?id=karuta.hpnpwd.wasuramoti&hl=ja') [Google Playでインストール]
  %li
    Google Playにアクセスできない人は &rArr;
    %a(href='http://sourceforge.net/projects/wasuramoti-andr/') [手動ダウンロード]
%hr.short-bar
%div
  %strong ※注意:
  Android版わすらもちには「
  %a(href='http://homepage3.nifty.com/naniwazu/') 難波津いなばくん
  」の読み音声を作者の許諾を得て同梱しています．

