---
title: わすらもち
description: 「わすらもち」は競技かるたの練習にも使える百人一首読み上げソフトです
---
%div
  %a(href='/') [TOP]
  %a(href='/kazesomiso/') [かぜそみそ(かるた画像作成ソフト)]
%h3.section 概要
%div 
  「わすらもち」は百人一首読み上げソフトです．競技かるたの練習に使うことを主目的としていますが，正月のかるた遊びや百人一首の学習にも多分使えると思います．
%h3.section 特徴
%dl
  %dt ボタン一つの簡単操作
  %dd 上の句の末尾で停止するので，一枚の札につき一回しかクリックの必要がありません．
  %dt 札セット
  %dd 百首全部ではなく「一字札」や「五色かるたの青」など一部の札のみを読み上げることができます．
  %dt 自作の音声ファイル対応
  %dd 百首が録音された音声ファイルを用意していだたければそれを読ませることもできます．
  %dt その他
  %dd 自動読み上げ機能や暗記用タイマー(Android版のみ)など競技かるたの練習に便利な機能が付いています．

%h3.section Windows版
%p
  %div 配布形式: フリーウェア
  %div 動作確認済みOS: Windows 95/98/2000/XP/Vista/7/8
  %div 最新バージョン: 1.06
  %div
    ダウンロード:
    %a(href='http://www.vector.co.jp/download/file/win95/edu/fh631880.html') [Vectorからダウンロード]
%p
  %div
    %em ※補足1:
    Windows版わすらもちには杉山A級公認読手の読み音声を同梱しています．
  %div
    %em ※補足2:
    レジストリをいじっていないのでインストール／アンインストール作業は不要です．

%h3.section Android版
%p
  %div 配布形式: 無料アプリ, オープンソース <a href='http://github.com/pjmtdw/wasuramoti-android'>[GitHub]</a>
  %div 対応OS: Android 2.1以降
  %div 最新バージョン: 0.8.12
  %div インストール方法: 下記のいずれかの方法でインストールできます．
  %ul
    %li
      最も一般的な方法 &rArr;
      %a(href='http://play.google.com/store/apps/details?id=karuta.hpnpwd.wasuramoti') [Google Playでインストール]
    %li
      Kindle Fireを使っている人 &rArr;
      %a(href='http://www.amazon.co.jp/dp/B00I11N2ZU') [Amazonアプリストアでインストール]
    %li
      上記にアクセスできない人 &rArr;
      %a(href='http://sourceforge.net/projects/wasuramoti-andr/') [apkファイルをダウンロード]
      (インストール方法は「apk インストール」あたりでググって下さい)
%p
  %div
    %strong ※補足:
    Android版わすらもちには
    %a(href='http://homepage3.nifty.com/naniwazu/') [難波津いなばくん]
    の読み音声を作者の許諾を得て同梱しています．

%h3.section Mac OSXについて
%p
  %div
    わすらもちには現在Windows版とAndroid版しかありませんが，
    Mac OSX を使っている人は
    %a(href='http://www.bluestacks.com/') [BlueStacks]
    という仮想マシンを使えばAndroid版が動くかもしれません．

%h3.section 自作の音声ファイル
%div
  Windows版ならわすらもちと同じフォルダに，Android版ならSDカードや内部ストレージに100首+序歌が録音された音声ファイルを置けば，それを読ませることができます．
%div
  詳しくは
  %a(href='howto-record.html') [わすらもち用読み音声データの作成]
  をご覧下さい．

%h3.section 札セットの取り込み
%div
  Android版わすらもちには札セットをリンクから追加する機能が付いています(ver 0.8.8以降の機能)．
%div
  下記のサイトで五色百人一首，きまり字五色二十人一首，三分の百首の札セットを取り込めます．
%div
  %a(href='fudaset.html') [札セットの配布場所]
