---
title: 宇野算譜工房
description: 主に百人一首のソフトを配布するためのサイト
---

.intro
  %h2 主に百人一首のソフトを配布するためのサイト

.menu
  .wasuramoti
    .panel
      %h3
        %a(href='/wasuramoti/') わすらもち
      %div
        競技かるたの練習にも使える百人一首読み上げソフト
      %div
        %span.os-label Windows
        %span.os-label Android
  .kazesomiso
    .panel
      %h3
        %a(href='/kazesomiso/') かぜそみそ
      %div
        百人一首などの和歌，短歌のかるた画像を作成するソフト
      %div
        %span.os-label Windows

  .cribbage
    .panel
      %h3
        %a(href='http://sourceforge.net/projects/cribbageracket/') Cribbage on Racket
      %div
        Lispの亜種であるRacketで書かれたCribbageというトランプゲーム
      %div
        %span.os-label Windows
        %span.os-label Mac
        %span.os-label Linux

.misc
  .panel
    %h3
      その他
    %div
      %ul
        %li
          %a(href='/misc/author.html') 作者連絡先
        %li
          %a(href='/misc/link.html') リンク集

